:root {
    /* Defining color variables for different themes (albums) */
    --color-debut: #50a7e0;
    --color-fearless: #D9A648;
    --color-speak_now: #622773;
    --color-red: #73030D;
    --color-1989: #b0a19d;
    --color-reputation: #676767;
    --color-lover: #F2CED1;
    --color-folklore: #bababa;
    --color-evermore: #67230e;
    --color-midnights: midnightblue;
    --color-ttpd: #844247;
    --color-header-footer: #bfb39c;
    --color-bg: white;
    --color-nav: #F2DAAC;
    --color-link-text: dimgrey; /* Link color */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--color-bg);
    line-height: 1.6;
}

header {
    background-color: var(--color-header-footer);
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 15px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .icon {
    width: 80px;
    border-radius: 50%; /* Optional: Add if you want a circular icon */
}

header span { /* Assuming the text is inside a <span> or similar */
    font-size: 2rem;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: var(--color-nav);
    margin: 0; /* Removes space between header and navigation */
    padding: 10px 0;
    height: 55px;
}


.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.list li {
    margin: 0 15px;
}

.list a {
    color: var(--color-link-text);
    text-decoration: none;
    font-size: 1.1rem;
    padding: 8px;
    transition: all 0.3s ease; /* Smooth transition for color and transform */
}

.list a:hover {
    color: black; /* Change text color on hover */
    border-radius: 5px; /* Adds a subtle roundness to the corners */
    font-size: 20px;
}

main {
    border-radius: 8px;
    max-width: 80%;
    margin: 0 auto;
}

section {
    margin: 15px 0;
}

h4 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: var(--color-link-text);
}

p {
    padding: 10px 0;
}

footer {
    background-color: var(--color-header-footer);
    padding: 15px 0;
    text-align: center;
    color: black;
    font-size: 0.9rem;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

#about section {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
